#root, body, html {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/money2.jpg);
  background-size: cover;
  /* background-color: #fbf3e4; */
  /* background-color: rgba(249,15,216,0.6); */
  /* background: linear-gradient(145deg, rgb(237, 160, 17), rgb(213, 43, 213)); */
  /* background-color: rgb(101, 208, 154); */
  /* background: linear-gradient(145deg, rgba(249,15,216,0.7), 
                                      rgba(245,67,119,0.7), 
                                      rgba(252,28,28,0.7), 
                                      rgba(255,195,13,0.7), 
                                      rgba(114,251,89,0.7)); */
    /* background-size: 500%; */
    background-position: top left;
    animation: apples 10s ease-in-out infinite;
    transition: .3s;
}

@keyframes apple {
  0% {
      background-position: top left;
  }
  50% {
      background-position: bottom right;
  }
  100% {
      background-position: top left;
  }
}
